@font-face {
  font-family: "i eat crayons";
  src: url("fonts/i-eat-crayons.ttf");
}

@font-face {
  font-family: "LT Internet";
  src: url("fonts/LTInternet-Regular.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(50, 74, 89, 1);
}

/* background */
#coverbg {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0%;
  left: 0%;
}

/* me */
#coverme {
  position: absolute;
  width: 57.56%;
  height: auto;
  left: 1.1%;
  top: 15.23%;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  height: auto;
  left: 53.47%;
  top: 19.62%;
}

h2 {
  font-family: "i eat crayons";
  font-style: normal;
  font-weight: 400;
  font-size: 5.66vw;

  color: #FFFFFF;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: "i eat crayons";
  font-style: normal;
  font-weight: 400;
  font-size: 11.88vw;
  color: #FFFFFF;
  padding: 0px;
  margin: 0px;
}
h3 {
  font-family: "LT Internet";
  font-style: normal;
  font-weight: 400;
  font-size: 4vw;

  color: #FFFFFF;
  padding: 0px;
  margin: 0px;

}
#spirals {
  position: absolute;
  width: 33.1vw;
  height: 36.82vh;
}

/* content */

/* Auto layout */
#a-content {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 6.37vw;

position: absolute;
width: 94.39vw;
height: auto;
left: 3.98vw;
top: 107.88vh;
}



/* me */
#polaroid {
  
width: 38.31vw;
height: auto;
filter: drop-shadow(-0.69vw 1.39vw 0.69vw rgba(0, 0, 0, 0.25));
transform: rotate(5deg);
}


/* text */
#a-text {  
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 46.18vw;
height: auto;
}

p {
  
font-family: "LT Internet";
font-style: normal;
font-weight: 400;
font-size: 2.5vw;

color: #FFFFFF;
  padding: 0px;
  margin: 0px;

}

/* title */
#worktitle {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
left: 4.02%;
top: 199.9%;
  
}

h4 {
font-family: 'i eat crayons';
font-style: normal;
font-weight: 400;
font-size: 3.33vw;
color: #FFFFFF;
  padding: 0px;
  margin: 0px;

}

/* labels */
#labels {
display: flex;
flex-direction: row;
align-items: center;
position: absolute;
padding: 0px;
width: 83.33%;
height: 7.8%;
left: 0%;
top: 222.59%;
}

#labels p {
  color:rgba(50, 74, 89, 1);
}

.label {
align-items: center;
width: 20.9%;
height: 100%;
border: none;
border-radius: 3vw 3vw 0px 0px;
}

.selected {
background: #FFFFFF;
}

.unselected {
  background: #D5D5D5;
}

#carousel {
position: absolute;
width: 100%;
height: 65%;
left: 0%;
top: 230.39%;
background: #FFFFFF;
}

#mail {
position: absolute;
width: 51.25%;
height: auto;
left: 48.73%;
top: 311.59%;
}

#insta {
position: absolute;
width: 43%;
height: auto;
left: 40%;
top: 368.6%;
}

/* content */

#t-contact {
  
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
left: 8%;
top: 335.35%;
}