@font-face {
  font-family: "i eat crayons";
  src: url("fonts/i-eat-crayons.ttf");
}

@font-face {
  font-family: "LT Internet";
  src: url("fonts/LTInternet-Regular.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(50, 74, 89, 1);
}

#header {
position: fixed;
width: 100%;
height: 7vh;
top: 0;
background: #FFFFFF;
border-radius: 0px 0px 3vw 3vw;
  z-index: 10;
display: flex;
flex-direction: row;
  align-items: center;
padding-left: 15%;
gap: 10%;
}

#header h4 {
  color: black;
}

#header a {
  color: black;
  text-decoration: none;
}

#everything {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#cover {
  background: url(images/background.png);
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0vh;
  left: 0vw;
}

#aboutme {
  width: 100%;
  position: relative;
  left: 0vw;
  top: 100vh;
  margin-bottom: 10%;
}

#myworks {
  position: relative;
  width: 100%;
  left: 0vw;
  top: 100vh;
}

#contact {
  position: relative;
  width: 100%;
  left: 0vw;
  top: 100vh;
}

/* me */
#coverme {
  position: absolute;
  width: 50.56%;
  height: auto;
  left: 1.1vw;
  bottom: 0vh;
}

#title {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  height: auto;
  left: 50vw;
  bottom: 30vh;
}

h2 {
  font-family: "i eat crayons";
  font-style: normal;
  font-size: 4vw;
  color: #FFFFFF;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: "i eat crayons";
  font-style: normal;
  font-size: 10vw;
  color: #FFFFFF;
  padding: 0px;
  margin: 0px;
}
h3 {
  font-family: "LT Internet";
  font-style: normal;
  font-size: 3vw;
  color: #FFFFFF;
  padding: 0px;
  margin: 0px;

}
#spirals {
  position: absolute;
  width: 33.1vw;
  height: 36.82vh;
  top: 0%;
  padding: 0px;
  margin: 0px;
}

/* content */

/* Auto layout */
#a-content {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 6.37vw;

position: relative;
width: 94.39vw;
height: auto;
left: 3.98%;
top: 2%;
}



/* me */
#polaroid {
  
width: 35.31vw;
height: auto;
filter: drop-shadow(-0.69vw 1.39vw 0.69vw rgba(0, 0, 0, 0.25));
transform: rotate(5deg);
}


/* text */
#a-text {  
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 46.18vw;
height: auto;
}

p {
  
font-family: "LT Internet";
font-style: normal;
font-weight: 400;
font-size: 2vw;

color: #FFFFFF;
  padding: 0px;
  margin: 0px;
}

/* title */
#worktitle {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: relative;
left: 4.02%;
top: 0%;
width: 90%;
}

h4 {
font-family: 'i eat crayons';
font-style: normal;
font-weight: 400;
font-size: 2.33vw;
color: #FFFFFF;
  padding: 0px;
  margin: 0px;

}

/* labels */
#labels {
display: flex;
flex-direction: row;
align-items: center;
position: relative;
padding: 0px;
width: 83.33%;
height: 5vh;
left: 0%;
top: 5%;
  margin-top: 3%;
}

#labels p {
  color:rgba(50, 74, 89, 1);
}

.label {
align-items: center;
width: 20.9%;
height: 100%;
border: none;
border-radius: 3vw 3vw 0px 0px;
}

.selected {
background: #FFFFFF;
}

.unselected {
  background: #D5D5D5;
}

#carousel {
position: relative;
width: 100%;
height: 65vh;
left: 0%;
top: 0%;
background: #FFFFFF;
  margin-bottom: 3%;
}

#mail {
position: relative;
width: 51.25%;
height: auto;
left: 48.73%;
}

#insta {
position: relative;
width: 43%;
height: auto;
left: -10%;
}

/* content */

#t-contact {
  
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
width: 90%;
position: absolute;
left: 8%;
top: 35%;
}

a {
  color: white;
}